.textEmail {
  color: #1890ff;
  margin-left: 4px;
}

.textIconCopy {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.paginationWrapper {
  text-align: end;
  margin-bottom: 1rem;
}
